#container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: rgb(232,255,231);
}

h1{
    text-align: center;
    background-color: #1397;
    padding:15px;
}

h2 {
    text-align: center;
    background-color: #1397;
    padding: 15px;
}

h3 {
    color: #882525;
}

#sidebar {
    background-color: #3397;
    border: 3px solid white;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.bold {
    font-weight: bold;
}

.highlight {
    background-color: #f0fff0;
    padding: 10px;
    border-radius: 10px;
}

.underline {
    text-decoration: underline;
}


#pic1 {
    float: right;
    width: 250px;
    margin: 10px; 
}

#pic2 {
    float: right;
    width: 250px;
    margin: 10px; 
}

.paragraph {
    margin-bottom: 30px;
    font-size:18px; 
}

a:link {
    font-weight: bold;
    color: blue;
}

a:hover {
    color: maroon;
    text-decoration: underline;
}

a:visited {
    color: rgb(90, 55, 90);
}

a:active {
    font-weight: bold;
    color: burlywood;
}

p::after {
    content: "";
    display: block;
    clear: both;
}

@media (max-width: 768px) {
    #pic1, #pic2 {
        float: none;
        display: block;
        width: 100%;
        margin: auto;
    }
    #sidebar {
        text-align: center;
    }
}

@media (max-width: 992px) {
    body {
        background-color: #f6f6ff;
    }
    #pic1, #pic2 {
        width: 200px;
    }
}

@media (max-width: 1200px) {
    #container {
        width: 90%
    }
}